body {
    color: #ffb85f;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
    background: linear-gradient(132deg, #2a2d3f, #02061f);
    background-size: 150% 150%;
}

hr {
    color: #eeeeee;
}

#mainDescrip {
    font-size: 2.5vh;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: 0;
}

#divContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    font-size: 20px;
    margin-bottom: 30px;
}

#divMainContent {
    background-color: #2d3249;
    opacity: 1;
    display: none;
    text-align: center;
    padding: 10px 0 10px 0;
}

#heading {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
}

p#fullname {
    font-weight: 300;
    font-size: 6vh;
    margin-bottom: 0;
}

.colourChange {
    filter: brightness(0) invert(1);
    transition: 0.2s;
    width: 10vh;
    height: 10vh;
}

#IMGlinkedIn {
    margin-right: 10px;
}

.colourChange:hover {
    filter: brightness(1) invert(0);
}

.alignImg {
    vertical-align: middle;
    margin-right: 5px;
}

#contentDescrip {
    font-size: 16px;
    margin-bottom: 0px;
    color: #eeeeee;
}

/*#####     CORNER BUTTONS     #####*/

#cornerElems {
    font-size: 2.5vh;
}

#cornContentContain {
    margin: auto;
    width: 65%;
}

.cornerBtns {
    cursor: pointer;
    transition: 0.4s;
    position: fixed;
    border-radius: 5px;
    padding: 5px;
}

p.cornerBtns:hover {
    color: #eeeeee;
    background-color: #2d3249;
}

#corn1 {
    border-left: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    top: 0;
    margin-left: 1%;
}
#corn2 {
    border-right: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    top: 0;
    right: 1%;
}
#corn3 {
    border-left: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    bottom: 0%;
    margin-left: 1%;
}
#corn4 {
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    bottom: 0%;
    right: 1%;
}

/*#####     PROJECT TAB     #####*/

.projectContain {
    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 15px;
    text-align: left;
}

.projectItem {
    position: relative;
    display: table-cell;
    border: 3px solid #212432;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #161b30;
    padding: 0 10px 0 10px;
    cursor: pointer;
    transition: all 0.15s;
    font-weight: 400;
    font-size: 1.75vh;
}

.projectTitle {
    font-size: 2vh;
    color: #eeeeee;
    font-weight: 500;
}

.projectIcon {
    width: 40px;
    height: 40px;
    float: right;
    padding-top: 2vh;
    padding-right: 0.75vw;
    transform-origin: center center;
}

.projectText {
    box-shadow: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.projectItem:hover {
    bottom: 5px;
    box-shadow: 1px 7px 4px #161b30;
    opacity: 1;
    filter: contrast(1.15);
}

.projectItem:hover .projectIcon {
    animation: wiggle 0.2s infinite alternate;
}

.projectItem:hover .codetrue {
    filter: sepia() saturate(10000%) hue-rotate(30deg);
}

.projectItem:hover .codefalse {
    filter: sepia() saturate(10000%) hue-rotate(330deg) brightness(150%);
}

.mainColContainer:hover .projectItem:not(:hover) {
    opacity: 0.5;
}

a {
    color: inherit;
    display: contents;
    text-decoration: none;
}

/*#####     ABOUT TAB     #####*/

h4#aboutHeader {
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 4.5vh;
    font-weight: 500;
    color: #eeeeee;
}

#aboutText {
    text-align: center;
    font-size: 2.5vh;
}

#aboutAva {
    border-radius: 50%;
    width: 22.5vh;
}

/*#####     SKILLS ICONS     #####*/

#iconDiv {
    padding-bottom: 20px;
}

svg.skillIcon {
    width: 128px;
    height: 128px;
    opacity: 0.9;
    fill: #eeeeee;
    cursor: pointer;
}

.skillIcon path {
    transition: 0.25s;
}

.skillIcon:hover path {
    fill: #ffb85f;
}

.activeSkillIcon path {
    fill: #ffb85f;
}

/*#####     SKILLS TEXT     #####*/

#iconWordDiv {
    display: none;
    text-align: left;
    float: right;
    margin-top: 15px;
    padding-right: 3%;
}

#gearIcon {
    filter: invert(100%);
    animation: rotation 7s infinite linear;
    float: left;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

h3#skillsTextTitle {
    display: inline;
    padding-left: 10px;
    color: #eeeeee;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

#skillsTextDescrip {
    width: 400px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.5;
}

/*#####     CONTACT FORM     #####*/

.contactForm {
    margin-top: 20px;
}

.contactInfo {
    width: 25%;
}

.contactInput {
    border: none;
    border-bottom: 2px solid #212432;
    border-left: 2px solid #212432;
    border-bottom-left-radius: 10px;
    color: #eeeeee;
    padding: 10px;
    box-shadow: 0px 2px 4px #161b30;
    background: transparent;
    font-size: 18px;
    font-weight: 300;
    position: relative;
}

#contactMessage {
    width: 52%;
    height: 100px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

.submitBtn {
    position: relative;
    border: none;
    box-shadow: 0px 2px 4px #161b30;
    border-radius: 5px;
    color: #eeeeee;
    background: #212432;
    font-size: 18px;
    padding: 8px 12px 8px 12px;
    transition: all 0.25s;
    cursor: pointer;
}

.submitBtn:hover {
    bottom: 1px;
    box-shadow: 0px 3px 5px #161b30;
    opacity: 1;
    filter: contrast(1.15);
}

.contactText {
    color: #eeeeee;
    font-size: 18px;
    text-shadow: 2px 2px #161b30;
    font-weight: 400;
}

/*#####     SCROLL BOX     #####*/

.row {
    display: flex;
}

.col {
    flex: 1;
}

.card {
    display: inline-block;
    position: relative;
    border: 3px solid #212432;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #161b30;
    background: transparent;
    min-width: 80%;
    width: 80%;
    margin-right: 3px;
    margin-left: 3px;
    white-space: normal;
}
.scrollingWrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    display: inline-block;
}

img.projectImg {
    width: 15vh;
    height: 15vh;
    margin-top: 1vh;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

h3.projectTitleMob {
    font-size: 4vh;
    margin-top: 2vh;
    color: white;
}

p.projectTextMob {
    color: #ffb85f;
    font-weight: 500;
    font-size: 2vh;
    /*margin-bottom: 6vh;*/
    margin: 0 1vh 6vh 1vh;
}

.projectFoot {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1vh;
    margin-bottom: 1vh;
    font-weight: 500;
    color: salmon;
}
.codeAvail {
    color: greenyellow;
}
