body{
    background-color: #212432;
    color: #FFB85F;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
}

hr {
    color: #eeeeee;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 99%;  
    z-index: 0;
}

#divContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    font-size: 20px;
    margin-bottom: 30px;
}

#divMainContent {
    background-color: #2d3249;
    opacity: 1;
    display: none;
    text-align: center;
}

#heading {
    font-size: 40px;
    margin: 0px;
}

p#fullname {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0;
}

.colourChange {
    filter: brightness(0) invert(1);
    float: left;
    margin-left: 10px;   
    transition: 0.2s;
}

.colourChange:hover {
    filter: brightness(1) invert(0);
}   

#cornerElems {
    font-size: 20px;    
}

#cornContentContain {
    margin: auto;
    width: 65%;
}

#projectLeft {
    border-right: 2px solid #eeeeee;
    border-radius: 1px;
}

.alignImg {
    vertical-align: middle;
    margin-right: 5px; 
}

#contentDescrip {
    font-size: 20px;
    margin-bottom: 0px;
}


/*#####     PROJECT TAB     #####*/

.projectContain {
    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 15px;
    text-align: left;
}
  
.projectItem {
    position: relative;
    display: table-cell;
    border: 3px solid #212432;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #161b30;
    padding: 0 10px 0 10px;
    cursor: pointer;
    transition: all 0.15s;
}

.projectTitle {
    font-size: 1.5em;
    color: #eeeeee;
    font-weight: 500;
}

.projectIcon {
    width: 40px;
    height: 40px;
    float: right;
    padding-top: 2vh;
    padding-right: 0.75vw;
    filter: invert(1);
    transform-origin: center center;
}

.projectText {
    box-shadow: none;
}

@keyframes wiggle {
    0% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

.projectItem:hover {
    bottom: 5px;
    box-shadow: 1px 7px 4px #161b30;
    opacity: 1;
    filter: contrast(1.15);
}

.projectItem:hover .projectIcon {
    animation: wiggle 0.2s infinite alternate;
}
  
.mainColContainer:hover .projectItem:not(:hover) {
    opacity: 0.5;
}

a {
    color: inherit;
    display: contents;
    text-decoration: none;
}

/*#####     ABOUT TAB     #####*/

h4#aboutHeader {
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    color: #eeeeee;
}

#aboutText {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-size: 18px;
}

#aboutAva {
    border-radius: 50%;
    width: 200px;
}


/*#####     SKILLS ICONS     #####*/

#iconDiv {
padding-bottom: 20px;
}

svg.skillIcon {
    width: 128px;
    height: 128px;
    opacity: 0.90;
    fill: #eeeeee;
    cursor: pointer;
}

.skillIcon path {
    transition: 0.25s;
}

.skillIcon:hover path {
    fill: #FFB85F;
}

.activeSkillIcon path {
    fill: #FFB85F;
}

/*#####     SKILLS TEXT     #####*/

#iconWordDiv {
    display: none;
    text-align: left;
    float: right;   
    margin-top: 15px; 
    padding-right: 3%;
}

#gearIcon {
    filter: invert(100%);
    animation: rotation 7s infinite linear;
    float: left;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

h3#skillsTextTitle{
    display: inline;
    padding-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

#skillsTextDescrip{
    width: 400px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.5;
}

/*#####     CORNER BUTTONS     #####*/

.cornerBtns {
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
}

p.cornerBtns:hover {
    color: white;
    background-color: #2d3249;
}

#corn1 {
    border-left: 2px solid white;
    border-top: 2px solid white;
	top: 0;
	margin-left: 1%;
}
#corn2 {
    border-right: 2px solid white;
    border-top: 2px solid white;
	top: 0;
	right: 1%;
}
#corn3 {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
	bottom: 0%;
	margin-left: 1%;
}
#corn4 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
	bottom: 0%;
	right: 1%;
}