body{
    background-color: #212432;
    color: #FFB85F;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 99%;  
    z-index: 0;
}

#divContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    font-size: 20px;
    margin-bottom: 30px;
}

#divMainContent {
    background-color: #2d3249;
    opacity: 1;
    display: none;
    text-align: center;
}

#heading {
    font-size: 40px;
    margin: 0px;
}

p#fullname {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0;
}

.colourChange {
    filter: brightness(0) invert(1);
    float: left;
    margin-left: 10px;   
    transition: 0.2s;
}

.colourChange:hover {
    filter: brightness(1) invert(0);
}   

#cornerElems {
    font-size: 20px;    
}

#cornContentContain {
    margin: auto;
    width: 65%;
}

.projectText {
    display: inline-grid;
    width: 49%;
}

#projectLeft {
    border-right: 2px solid #eeeeee;
    border-radius: 1px;
}

.alignImg {
    vertical-align: middle;
    margin-right: 5px; 
}

#contentDescrip {
    font-size: 20px;
    margin-bottom: 0px;
}

h1 {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: #eeeeee;
}

li {
    padding-bottom: 20px;
}

.projectList {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 0px;
}

.projectsItem {
    position: relative;
    text-decoration: none;
    color: #FFB85F;
}


/*#####     SKILLS ICONS     #####*/

#iconDiv {
padding-bottom: 20px;
}

svg.skillIcon {
    width: 128px;
    height: 128px;
    opacity: 0.90;
    fill: #eeeeee;
    cursor: pointer;
}

.skillIcon path {
    transition: 0.25s;
}

.skillIcon:hover path {
    fill: #FFB85F;
}

.activeSkillIcon path {
    fill: #FFB85F;
}

/*#####     SKILLS TEXT     #####*/

#iconWordDiv {
    display: none;
    text-align: left;
    float: right;   
    margin-top: 15px; 
    padding-right: 3%;
}

#gearIcon {
    filter: invert(100%);
    animation: rotation 7s infinite linear;
    float: left;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

h3#skillsTextTitle{
    display: inline;
    padding-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

#skillsTextDescrip{
    width: 400px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.5;
}

/*#####     CORNER BUTTONS     #####*/

.cornerBtns {
    cursor: pointer;
    transition: 0.4s;
}

p.cornerBtns:hover {
    color: white;
    background-color: #2d3249;
}

#corn1 {
    position: absolute;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-radius: 5px;
    padding: 5px;
	top: 0;
	margin-left: 1%;
}
#corn2 {
    position: absolute;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-radius: 5px;
    padding: 5px;
	top: 0;
	right: 1%;
}
#corn3 {
    position: absolute;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    padding: 5px;
	bottom: 0%;
	margin-left: 1%;
}
#corn4 {
    position: absolute;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    padding: 5px;
	bottom: 0%;
	right: 1%;
}